* { margin: 0; padding: 0; outline:none; }
html, body { 
    background: #eee; 
    height: 100%;
    font: 12px Verdana, Geneva, sans-serif;
}

#wrapper { 
    width: 960px; 
    margin: 0 auto; 
    background: #fff; 
    border: 5px #ccc solid; 
    border-style: none solid none solid; 
    padding: 2em 1em;
}
#wrapper > section + section { margin-top: 1em; }
#wrapper section { margin-left: 1em; margin-right: 1em;}
#wrapper section header { margin-bottom: 1em; }

#demo-1 { margin-top: 1em; height: 300px; }                

.button {
    padding: 1em 2em;
    border: 2px #ccc solid;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    margin: 1em 0 0 0;
    display: inline-block;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}